<a href="main.html" class="loader">Main</a>
<a href="user/edit.html" class="loader">Edit profile</a>
<a href="accounts/view.html" class="loader">Accounts</a>
<a href="accounts/add.html" class="loader">Add account</a>
<a href="transaction_categories/view.html" class="loader">Categories</a>
<a href="transaction_categories/add.html" class="loader">Add category</a>
<a href="transactions/view.html" class="loader">Transactions</a>
<a href="transactions/add.html" class="loader">Add Transaction</a>
<a href="planned_payments/view.html" class="loader">Planned Payments</a>
<a href="planned_payments/add.html" class="loader">Add Planned Payment</a>
<a href="budgets/view.html" class="loader">Budgets</a>
<a href="budgets/add.html" class="loader">Add Budget</a>
<a href="#" id="logout">Logout</a>

<script src="js/users.js"></script>