<div id="charts-container" style="width: 50%;">
    <form action="app/index.php?target=statistic&action=getIncomesOutcomes" id="all-incomes-outcomes">
        <input type="date" name="from_date">
        <input type="date" name="to_date">
        <select name="diagram" id="diagramIncomesAndOutcomes">
            <option value="pie">Pie</option>
            <option value="doughnut">Doughnut</option>
        </select>
        <input type="submit" value="Select">
    </form>
    <div id="firstChart">
        <canvas id="allIncomesAndOutcomes"></canvas>
    </div>
    <form action="app/index.php?target=statistic&action=getIncomesByCategory" id="incomes-by-category">
        <input type="date" name="from_date">
        <input type="date" name="to_date">
        <select name="diagram" id="diagramIncomes">
            <option value="pie">Pie</option>
            <option value="doughnut">Doughnut</option>
        </select>
        <input type="submit" value="Select">
    </form>
    <div id="secondChart">
        <canvas id="IncomesByCategory"></canvas>
    </div>
    <form action="app/index.php?target=statistic&action=getOutcomesByCategory" id="outcomes-by-category">
        <input type="date" name="from_date">
        <input type="date" name="to_date">
        <select name="diagram" id="diagramOutcomes">
            <option value="pie">Pie</option>
            <option value="doughnut">Doughnut</option>
        </select>
        <input type="submit" value="Select">
    </form>
    <div id="thirdChart">
        <canvas id="OutcomesByCategory"></canvas>
    </div>
</div>
<script>

$(document).ready(function () {
    getIncomesAndOutcomes();
    getIncomesByCategory();
    getOutcomesByCategory();

    $("form#all-incomes-outcomes").on("submit", function (event) {
        event.preventDefault();
        let from_date = $("#all-incomes-outcomes :input[name ='from_date']").val();
        let to_date = $("#all-incomes-outcomes :input[name ='to_date']").val();
        let diagram = $("#all-incomes-outcomes select#diagramIncomesAndOutcomes").val();

        getIncomesAndOutcomes(diagram, from_date, to_date);
    });

    $("form#incomes-by-category").on("submit", function (event) {
        event.preventDefault();
        let from_date = $("#incomes-by-category :input[name ='from_date']").val();
        let to_date = $("#incomes-by-category :input[name ='to_date']").val();
        let diagram = $("#incomes-by-category select#diagramIncomes").val();
        getIncomesByCategory(diagram, from_date, to_date);
    });

    $("form#outcomes-by-category").on("submit", function (event) {
        event.preventDefault();
        let from_date = $("#outcomes-by-category :input[name ='from_date']").val();
        let to_date = $("#outcomes-by-category :input[name ='to_date']").val();
        let diagram = $("#incomes-by-category select#diagramOutcomes").val();

        getOutcomesByCategory(diagram, from_date, to_date);
    });

    // let barCharts = $("#bar");
    // let myChart2 = new Chart(barCharts, {
    //     type: 'bar',
    //     data: {
    //         labels: ["Car", "Home", 'School', 'Food'],
    //         datasets: [{
    //             label: ["Money"],
    //             backgroundColor: ["#00ff00", "#ff0000", "#0000ff", "#C5FF28"],
    //             data: [123,300, 200,130]
    //         }]
    //     },
    //     options: {
    //         title: {
    //             display: true,
    //             text: 'Outcomes by categories'
    //         }
    //     }
    // });
    //
    // let line = $("#line");
    // let myChart3 = new Chart(line, {
    //     type: 'line',
    //     data: {
    //         labels: ["July", "August", 'September', 'Octover', 'November', 'December', 'January'],
    //         datasets: [{
    //             label: ["Money"],
    //             backgroundColor: ["#00ff00", "#ff0000", "#0000ff", "#C5FF28", '#1FFFFF', "#875C43", "#1F330B"],
    //             data: [1502,3312, 2400, 5001, 2333, 1822, 2222]
    //         }]
    //     },
    //     options: {
    //         title: {
    //             display: true,
    //             text: 'Incomes by months'
    //         }
    //     }
    // });

});
</script>
