<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics!</title>
    <script src="../js/Chart.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/Chart.css">
</head>
<body>
    <div id="charts-container" style="width: 50%;">
        <canvas id="pie"></canvas>
        <canvas id="bar"></canvas>
        <canvas id="line"></canvas>
    </div>
</body>
<script>
$(document).ready(function () {
    let pie = $('#pie');
    let myChart = new Chart(pie, {
        type: 'pie',
        data: {
            labels: ["Income", "Outcome"],
            datasets: [{
                label: "Income and outcome",
                backgroundColor: ["#00ff00", "#ff0000"],
                data: [1527,723]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Income and outcome'
            }
        }
    });

    let barCharts = $("#bar");
    let myChart2 = new Chart(barCharts, {
        type: 'bar',
        data: {
            labels: ["Car", "Home", 'School', 'Food'],
            datasets: [{
                label: ["Money"],
                backgroundColor: ["#00ff00", "#ff0000", "#0000ff", "#C5FF28"],
                data: [123,300, 200,130]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Outcomes by categories'
            }
        }
    });

    let line = $("#line");
    let myChart3 = new Chart(line, {
        type: 'line',
        data: {
            labels: ["July", "August", 'September', 'Octover', 'November', 'December', 'January'],
            datasets: [{
                label: ["Money"],
                backgroundColor: ["#00ff00", "#ff0000", "#0000ff", "#C5FF28", '#1FFFFF', "#875C43", "#1F330B"],
                data: [1502,3312, 2400, 5001, 2333, 1822, 2222]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Incomes by months'
            }
        }
    });

});
</script>
</html>