<form action="controller/account_controller/add.php" method="POST">
    <table>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td><label for="current_amount">Current amount: </label></td>
            <td><input type="text" name="current_amount" id="current_amount"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" name="add_account" value="Add account"></td>
        </tr>
    </table>
</form>
