<form action="app/index.php?target=budget&action=add" method="POST">
    <table>
        <tr>
            <td><label for="category">Category: </label></td>
            <td>
                <select name="category_id" id="category">
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="amount">Amount: </label></td>
            <td><input id="amount" name="amount" step=".01" type="number"></td>
        </tr>
        <tr>
            <td><label for="from_date">From date: </label></td>
            <td><input type="date" name="from_date" id="from_date"></td>
        </tr>
        <tr>
            <td><label for="to_date">To date: </label></td>
            <td><input type="date" name="to_date" id="to_date"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="add_budget" value="Add budget"></td>
        </tr>
    </table>
</form>
<script>addBudget();</script>