<form action="controller/user_controller/login.php" method="post">
    <table>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input id="email" name="email" type="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input id="password" name="password" type="password"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="login" type="submit" value="Login"></td>
        </tr>
        <tr>
            <td><a class="loader" href="user/register.html">Register</a></td>
        </tr>
    </table>
</form>