<form action="app/index.php?target=transaction&action=add" method="POST">
    <table>
        <tr>
            <td><label for="account">Account: </label></td>
            <td>
                <select name="account_id" id="account">

                </select>
            </td>
        </tr>
        <tr>
            <td><label for="type">Type: </label></td>
            <td>
                <select name="type" id="type">
                    <option value="-1">Select type</option>
                    <option value="0">Outcome</option>
                    <option value="1">Income</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="category">Category: </label></td>
            <td>
                <select name="category_id" id="category">
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="amount">Amount: </label></td>
            <td><input id="amount" name="amount" step=".01" type="number"></td>
        </tr>
        <tr>
            <td><label for="note">Short note: </label></td>
            <td><input type="text" name="note" id="note"></td>
        </tr>
        <tr>
            <td><label for="time_event">Time of the event: </label></td>
            <td><input type="datetime-local" name="time_event" id="time_event"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="add_transaction" value="Add transaction"></td>
        </tr>
    </table>
</form>
<script>addTransaction();</script>